*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    // scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab) {
        font-size: 50%;
    }

    @include respond(tv) {
        font-size: calc(0.25em + 0.5vw);
    }
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 1.8rem;
    color: $base-color;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 $section-padding;
}